/* #f7296e */

nav {
 background-color: #f7296e;
 
}

.navbar.navbar-expand-md > .collapse.navbar-collapse li  a {
    color: white;
}


.dropdown-menu.dropdown-menu-right.show  > .dropdown-item > .nav-link{
    color: rgb(135, 122, 146);
}


form {
    width: 600px;
    margin-top: 5rem;
    padding: 10rem;
    padding: 2rem;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.login {
    background-color: #f7296e;
    width: 100%;
    height:110vh;
    margin-top: -2rem;
}

.credenciales {
    background-color: #ffffff;
}


table 
{
    table-layout:fixed;
    width:100%;
   /* text-overflow: clip;*/
   
    overflow-wrap: break-word; 
    border: 2px solid #ccc;
   
   
}


td,th{
    width: 1%;
    border-collapse:collapse;
    border: 0;
    border: 2px solid #ccc;
  
}

tr > th{
    color:gray;
    text-align: center;
}

.blockchain_credencial{
    table-layout: inherit;
    border: 2px solid #ccc;
   color: azure;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.7);
    order :-1;
  }

  
  .overlay__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .overlay__spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}